<div class="container">
    <div class="row">
        <div class="col-md-3">Title:</div>
        <div class="col-md-9">
            <input type="text" id="title" name="title" class="form-control rounded" />
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-3">Description:</div>
        <div class="col-md-9">
            <input id="description" name="description" class="form-control rounded" />
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-3">Category:</div>
        <div class="col-md-9">
            <input type="text" id="category" name="category" class="form-control rounded" />
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-3">Level:</div>
        <div class="col-md-9">
            <input type="text" id="level" name="level" class="form-control rounded" />
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-3">Prerequisite:</div>
        <div class="col-md-9">
            <input type="text" id="prerequisite" name="prerequisite" class="form-control rounded" />
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-3">Tags:</div>
        <div class="col-md-9">
            <input type="text" id="tags" name="tags" class="form-control rounded" />
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-3">Copyright:</div>
        <div class="col-md-9">
            <input type="text" id="copyright" name="copyright" class="form-control rounded" />
        </div>
    </div>

    <br>

    <div class="row">
        <button type="button" class="btn btn-primary" [routerLink]="['/lesson', 1234]">Detail for lesson 1234</button>
    </div>

    <br>

    <div class="row">
        <button type="button" class="btn btn-primary" (click)="onClickSubmit()">Submit</button>
    </div>
</div>